<div class="mt-4">
    <h3>Sửa thông tin khóa học</h3>

    <form method="POST" action="/update-course/{{course.slug}}">
        <div class="form-group mb-4">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name" placeholder="Course name" value="{{course.name}}">
            <small id="nameRequire" class="form-text text-muted">Tên khóa học không nhiều hơn 18 kí tự</small>
        </div>

        <div class="form-group mb-4">
            <label for="description">Miêu tả khóa học</label>
            <input type="text" class="form-control" id="description" aria-describedby="emailHelp" name="description" placeholder="Course description" value="{{course.description}}">
            <small id="descriptionRequire" class="form-text text-muted">Đoạn văn bản sẽ được kiểm duyệt</small>
        </div>

        <div class="form-group mb-4"></div>
            <div class="form-group mb-4">
            <label for="videoID">URL video của khóa học trên Youtube</label>
            <input type="text" class="form-control" id="videoID" aria-describedby="emailHelp" name="videoID" placeholder="Course video URL" value="https://www.youtube.com/watch?v={{course.videoID}}">
            <small id="videoIDRequire" class="form-text text-muted">URL của video</small>
        </div>

        <div class="form-group mb-4"></div>
            <div class="form-group mb-4">
            <label for="users">Số users hiện tại</label>
            <input type="text" class="form-control" id="users" aria-describedby="emailHelp" name="users" placeholder="Current users" value="{{course.users}}">
            <small id="usersRequire" class="form-text text-muted">Ko có yêu cầu</small>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>